* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

a {
  color: black; }

/* shorthand mixin for image size */
.header {
  padding: 5%; }

.headerBackground {
  background-color: #EF4924;
  height: 200px;
  margin-bottom: 25%; }

h1 {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif; }

h2 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif; }

.text {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #EF4924;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  width: 50%;
  text-align: center; }

.loadText {
  margin-top: 90%; }

.text h1 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif; }

.teReo {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #636262; }

hr {
  width: 20%;
  margin-left: 15%;
  border: 1px solid #EF4924; }

.space {
  padding-left: 10%; }

.bigTitle {
  margin-top: 25%;
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif; }

.registrationForm {
  margin-top: 10%;
  margin-left: 10%; }

.userName, .password, .email {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif; }

.name, .passwordEnter, .emailEnter {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%; }

.forgot {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  color: #3BACD9;
  text-decoration: underline; }

.signUpBtn {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #3BACD9;
  text-decoration: underline; }

.forgotPassword {
  float: right;
  padding-right: 20%; }

.greeting {
  padding-left: 3%;
  padding-top: 2%; }
  .greeting h2 {
    padding-left: 2%;
    padding-top: 1%; }

.homeStatus {
  position: absolute;
  z-index: 2;
  top: 80%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  margin-left: 5%; }

.homeStatus ul {
  padding: 3%; }
  .homeStatus ul li {
    font-size: 0.7rem;
    font-family: "Lato", sans-serif;
    color: white;
    text-align: center;
    padding: 1%; }

.colHomeStatus {
  float: left;
  width: 25%; }

.fa-spinner {
  color: #EF4924;
  font-size: 3rem; }

.headerSettingIcon {
  width: 10%;
  height: 10%;
  padding: 2%; }

.headerNotificationIcon {
  width: 10%;
  height: 10%;
  float: right;
  padding: 2%; }

.backImg {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 560px; }

.logo {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.homeBckImg {
  width: 95%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%; }

.profileImg {
  width: 25%;
  height: 25%; }

.mainBtn {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-top: 20%;
  text-align: center;
  color: white;
  width: 50%;
  padding: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  outline: none;
  background-color: #EF4924;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  border-radius: 4%; }

.firstBtnLogin, .firstBtnSignUp {
  margin-top: 15%;
  padding-left: 15%; }

.secondBtnLogin, .secondBtnSignUp {
  text-align: center;
  padding-top: 10%;
  padding-right: 22%; }

.firstBtnSignUp {
  padding-left: 25%; }

.container {
  position: relative; }

.greeting {
  position: absolute;
  text-align: left;
  top: 3%;
  left: 5%;
  z-index: 1; }

span img {
  float: left;
  padding: 5%; }

small {
  display: block; }

.textAlign {
  padding-top: 8%; }

/*# sourceMappingURL=style.css.map */
