* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

a {
  color: black; }

.header-background {
  background: #F2695C;
  height: 200px;
  margin-bottom: 45%; }

.header-setting-icon {
  width: 15%;
  height: 15%;
  padding: 3%; }

.setting-nav-content {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.setting-nav-content {
  position: absolute;
  top: 0;
  right: 10%;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif; }

.close-btn {
  position: absolute;
  top: 3%;
  right: 6%;
  font-size: 2rem;
  color: #EF502D; }

.setting-title {
  padding-left: 8%;
  font-size: 1.95rem;
  font-family: "Josefin Sans", sans-serif; }

#setting ul {
  padding-left: 5%; }
  #setting ul li {
    padding: 5%; }
    #setting ul li a {
      padding-left: 5%; }

.profile-img-setting {
  width: 35%;
  height: 35%;
  padding-top: 2%; }

.fa-address-card, .fa-bell, .fa-globe, .fa-question-circle {
  color: #EF502D; }

.header-notification-icon {
  width: 13%;
  height: 13%;
  float: right;
  padding: 4%; }

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20px; }

.modal-content {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #EF502D;
  width: 80%;
  height: 250px;
  margin-top: 10%;
  padding-left: 10%; }

.close-btn-two {
  position: absolute;
  top: 10%;
  right: 13%;
  font-size: 2rem;
  color: #EF502D; }

.modal-content-info {
  padding-top: 10%; }
  .modal-content-info .modal-title {
    padding-bottom: 20%; }

.fa-door-open, .fa-lightbulb {
  color: #EF502D;
  font-size: 1.5rem;
  margin-right: 2%; }

.modal-content-info p {
  font-size: 1rem; }

.content-align {
  display: inline-block;
  padding-bottom: 10%; }

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
.header {
  background-color: #EF502D; }

.fa-cog {
  font-size: 2rem;
  color: white; }

.fa-chevron-left {
  font-size: 2rem;
  padding: 3%;
  color: white; }

.fa-home, .active-icon, .fa-wifi, .fa-shield-alt, .fa-chart-bar {
  font-size: 1.5rem;
  color: #333;
  margin: 7%; }

.active-icon {
  color: #EF502D; }

#active {
  color: #EF502D; }

h1 {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif; }

h2 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif; }

p {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif; }

.text {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  color: #EF502D;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  width: 50%;
  text-align: center; }

.load-text {
  margin-top: 60%; }

.text h1 {
  font-size: 2.6rem;
  font-family: "Josefin Sans", sans-serif; }

.te-reo {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  color: #636262; }

hr {
  width: 20%;
  margin-left: 15%;
  border: 1px solid #EF502D; }

.big-title {
  font-size: 2.6rem;
  font-family: "Josefin Sans", sans-serif; }

.home-status ul, .living-room-status ul {
  padding: 3%; }
  .home-status ul li, .living-room-status ul li {
    font-size: 0.7rem;
    font-family: "Lato", sans-serif;
    color: white;
    text-align: center;
    padding: 1%; }

.title {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: white; }

.category-group-font p {
  color: white; }

.logout-sign a {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: #34D293;
  font-weight: bold; }

.page-title {
  font-size: 1.95rem;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 5%;
  padding-left: 10%; }

.tab-links-font {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  color: black;
  margin-right: 5%; }

.subtitle {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  text-align: center; }

.desc {
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  color: #636262;
  text-align: center;
  padding-bottom: 2%; }

.smaller-font-title {
  font-size: 2rem; }

.smaller-font {
  font-size: 1rem; }

.overview p {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  text-align: center; }

.history p {
  font-size: "Lato", sans-serif;
  font-family: "Lato", sans-serif; }

.history-title {
  font-weight: bold;
  padding-bottom: 10%; }

.camera-text {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  text-align: left;
  margin-bottom: 5%; }

.back-img {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 667px; }

.logo {
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.home-bck-img {
  width: 90%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
  opacity: .9;
  display: flex;
  justify-content: center; }

.profile-img {
  width: 25%;
  height: 25%; }

.graph {
  width: 200px;
  height: 180px; }

.graph-center {
  display: flex;
  justify-content: center; }

.camera-img {
  width: 350px;
  height: 200px; }

.living-room-img {
  width: 100%;
  height: 230px; }

@media only screen and (max-width: 600px) {
  .back-img {
    height: 820px; }

  .registration-form {
    margin-top: 10%;
    margin-left: 10%; }

  .first-btn-login {
    margin-top: 15%;
    padding-left: 17%; }

  .second-btn-login {
    padding-top: 5%;
    padding-right: 20%; }

  .first-btn-signup {
    margin-top: 15%;
    padding-left: 25%; }

  .second-btn-signup {
    padding-top: 10%;
    padding-right: 20%; }

  .category-btn {
    margin-left: 22%; }

  .home-status, .living-room-status {
    top: 83%; }

  .logout-sign {
    padding-top: 4%; }

  .tablet-screen {
    display: none; }

  .camera-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    text-align: center; }

  .camera-container-text, .room-container-record {
    left: 5%; }

  .camera-text {
    padding-left: 5%; }

  .header {
    margin-bottom: 10%; }

  .no-margin {
    margin-bottom: 0; }

  .rooms-grid {
    margin-bottom: 3%; }

  .tab, .para {
    padding-left: 10%; }

  .big-title {
    margin-top: 25%; }

  .room-border, .statistic-border, .device-border, .security-border {
    border: 2px solid #EF502D;
    padding: 5%;
    box-shadow: 5px 10px 10px #888888; }
    .room-border .center, .statistic-border .center, .device-border .center, .security-border .center {
      display: flex;
      justify-content: center; }
      .room-border .center img, .statistic-border .center img, .device-border .center img, .security-border .center img {
        width: 80%;
        height: 50%; }

  #light-bulb-icon, #thermostat-icon, #burglar-icon, #smoke-icon {
    width: 50%;
    height: 50%;
    padding-bottom: 15%;
    padding-top: 10%; }

  #door-icon {
    width: 60%;
    height: 60%;
    padding-top: 10%;
    padding-bottom: 10%; }

  .lighting-title {
    padding-top: 10%; }

  .nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: white; }
    .nav ul {
      text-align: center;
      padding: 8%; }
      .nav ul li img {
        width: 30%;
        height: 30%; }
      .nav ul li {
        color: #333;
        font-size: 0.7rem;
        font-family: "Lato", sans-serif;
        padding-bottom: 3%; } }
@media only screen and (min-width: 420px) {
  .first-btn-login {
    margin-top: 15%;
    padding-left: 17%; }

  .first-btn-signup {
    margin-top: 15%;
    padding-left: 25%; }

  .registration-form {
    margin-top: 10%;
    margin-left: 10%; }

  .category-btn {
    padding-top: 8%;
    margin-left: 22%; }

  .home-status, .living-room-status {
    top: 83%;
    padding-bottom: 1%; }
    .home-status ul li, .living-room-status ul li {
      font-size: 0.8rem; }

  .category-box {
    padding: 7%; }

  .icon-automate, .icon-security, .icon-statistic, .icon-security, .icon-statistic {
    padding-top: 0; }

  .logout-sign {
    padding-top: 4%; }

  .nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: white; }
    .nav ul {
      text-align: center;
      padding: 8%; }
      .nav ul li img {
        width: 30%;
        height: 30%; }
      .nav ul li {
        color: #333;
        font-size: 0.7rem;
        font-family: "Lato", sans-serif;
        padding-bottom: 3%; }

  .camera-container-text, .room-container-record {
    left: 12%; }

  .camera-text {
    padding-left: 12%; } }
@media only screen and (min-width: 500px) {
  .camera-container-text, .room-container-record {
    left: 18%; }

  .camera-text {
    padding-left: 18%; } }
@media only screen and (min-width: 600px) {
  .back-img {
    height: 1000px; }

  .my-container {
    padding-top: 15%; }

  .greeting h1 {
    font-size: 1.7rem; }

  .greeting h2 {
    font-size: 1.5rem; }

  .category-btn {
    padding-top: 15%; }

  .home-status ul li, .living-room-status ul li {
    font-size: 1rem; }

  .category-box {
    padding: 15%; }

  .profile small {
    font-size: 1.35rem; }

  .title {
    font-size: 2rem;
    font-family: "Lato", sans-serif; }

  .category-group-font p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif; }

  .fa-sign-out-alt {
    font-size: 1.5rem; }

  .logout-sign a {
    font-size: 1.69rem; }

  .header {
    margin-bottom: 5%; }

  .tab, .para {
    padding-left: 10%; }

  .room-border, .statistic-border, .device-border, .security-border {
    border: 2px solid #EF502D;
    padding: 5%;
    box-shadow: 5px 10px 10px #888888; }
    .room-border .center, .statistic-border .center, .device-border .center, .security-border .center {
      display: flex;
      justify-content: center; }
      .room-border .center img, .statistic-border .center img, .device-border .center img, .security-border .center img {
        width: 50%;
        height: 40%; }

  #light-bulb-icon, #thermostat-icon, #burglar-icon, #smoke-icon {
    width: 50%;
    height: 50%;
    padding-bottom: 15%;
    padding-top: 10%; }

  #door-icon, #camera-icon {
    width: 60%;
    height: 60%;
    padding-top: 10%;
    padding-bottom: 10%; }

  .camera-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    text-align: center; }

  .camera-container-text, .room-container-record {
    left: 25%; }

  .camera-text {
    padding-left: 25%; } }
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .tablet-screen {
    display: none; } }
@media only screen and (min-width: 768px) {
  .logo {
    width: 30%; }

  .text {
    padding-top: 10%; }

  .load-text {
    margin-top: 30%; }

  .back-img {
    height: 1080px; }

  .fa-spinner {
    font-size: 3rem; }

  .first-btn-login {
    padding-left: 30%; }

  .second-btn-login {
    padding-top: 3%;
    padding-right: 17%; }

  .first-btn-signup {
    padding-left: 30%; }

  .second-btn-signup {
    padding-top: 3%;
    padding-right: 22%; }

  .greeting h1 {
    font-size: 2rem; }

  .greeting h2 {
    font-size: 1.7rem; }

  span img {
    padding: 5%; }

  .profile small {
    font-size: 1.8rem; }

  .profile-para {
    padding-top: 8%; }

  .title {
    font-size: 2rem;
    font-family: "Lato", sans-serif; }

  .category-group-font p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif; }

  .header-background {
    height: 400px; }

  .category-btn {
    float: left;
    width: 70%;
    margin-top: 0;
    padding-top: 0; }

  .category-box {
    background-color: #EF502D;
    border-radius: 3%;
    margin: 5%;
    padding: 5%;
    width: 60%;
    margin-top: 20%; }

  .home-status, .living-room-status {
    padding-top: 1%; }
    .home-status ul li, .living-room-status ul li {
      font-size: 1.2rem; }

  .fa-sign-out-alt {
    font-size: 2rem; }

  .logout-sign a {
    font-size: 2.21rem; }

  .room-border .center img, .statistic-border .center img, .device-border .security-border .center img {
    width: 50%;
    height: 40%; }

  .fa-plus {
    margin-left: 3%; }

  .camera-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%; }

  .camera-container-text, .room-container-record {
    left: 10%; } }
@media only screen and (min-width: 1024px) {
  .logo {
    width: 20%; }

  .text {
    padding-top: 10%; }

  .load-text {
    margin-top: 10%; }

  .back-img {
    height: 1200px; }

  .fa-spinner {
    font-size: 3rem; }

  .registration-form {
    margin-top: 5%; }

  .my-container {
    padding-top: 10%; }

  .big-title {
    margin-top: 0; }

  .registration-hr {
    width: 8%;
    margin-left: 13%; }

  .first-btn-login {
    margin-top: 8%;
    padding-left: 35%; }

  .second-btn-login {
    padding-top: 0;
    padding-right: 14%; }

  .first-btn-signup {
    margin-top: 8%;
    padding-left: 40%; }

  .second-btn-signup {
    padding-top: 0;
    padding-right: 10%; }

  .header-setting-icon {
    width: 9%;
    height: 9%;
    margin-left: 20%; }

  .header-notification-icon {
    width: 10%;
    height: 10%; }

  .profile small {
    font-size: 1.53rem; }

  .profile-img {
    width: 70%;
    height: 40%;
    margin-right: 40%; }

  .category-box {
    width: 75%; }

  .category-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 120px;
    margin-left: 3%; }

  .category-group-font p {
    font-size: 1.1rem; }

  .category-group-font .title {
    font-size: 1.6rem; }

  .header-background {
    margin-bottom: 35%;
    height: 200px; }

  .profile {
    padding-top: 55%; }

  .main-container {
    display: grid;
    grid-template-columns: 3fr 1fr; }

  .greeting h1 {
    font-size: 2rem; }

  .greeting h2 {
    font-size: 1.5rem;
    margin-top: 3%; }

  .home-status ul li, .living-room-status ul li {
    font-size: 1.2rem;
    padding: 0; }

  .icon-automate, .icon-security, .icon-statistic, .icon-security, .icon-statistic {
    padding-top: 5%; }

  .modal-content {
    height: 400px;
    width: 50%; }

  .close-btn-two {
    top: 20%;
    font-size: 2.5rem;
    padding-right: 15%; }

  .logout-sign {
    padding-right: 5%;
    padding-top: 3%; }

  .fa-sign-out-alt {
    font-size: 2rem; }

  .logout-sign a {
    font-size: 1.95rem; }

  .modal-title {
    padding-bottom: 10%; }
    .modal-title h1 {
      font-size: 2rem; }

  .nav {
    display: grid;
    grid-template-columns: 800px;
    box-shadow: 2px 2px 2px #888888;
    width: 20%;
    top: 0;
    background-color: white; }
    .nav ul {
      padding: 15%; }
      .nav ul li {
        font-size: 0.9rem; }

  .fa-home, .active-icon, .fa-wifi, .fa-shield-alt, .fa-chart-bar {
    font-size: 2.5rem; }

  .header {
    margin-bottom: 5%; }

  .page-title {
    margin-left: 20%; }

  hr {
    margin-left: 35%;
    width: 10%; }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1rem; }

  .automate-big-container, .security-big-container {
    width: 55%;
    margin-left: 30%; }

  .nav-hr {
    margin-left: 12%;
    width: 15%; }

  .setting-nav-content {
    height: 768px; }

  .fa-plus {
    font-size: 1.5rem; }

  #light-bulb-icon, #thermostat-icon, #burglar-icon, #smoke-icon {
    width: 35%;
    height: 35%;
    padding-bottom: 15%;
    padding-top: 8%; }

  #door-icon, #camera-icon {
    width: 40%;
    height: 40%;
    padding-top: 5%;
    padding-bottom: 8%; }

  .full-width {
    margin-top: 13%;
    padding-left: 0; }

  .usage-big-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 18%; }

  .overview {
    padding-top: 10%; }

  .graph-center {
    padding-top: 20%; }

  .graph {
    width: 300px;
    height: 200px; }

  .camera-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3%;
    padding-top: 2%; }

  .camera-container-text, .room-container-record {
    left: 12%; }

  .camera-text {
    padding-left: 9%; }

  .camera-img {
    width: 400px;
    height: 200px; }

  .mobile-screen {
    display: none; }

  .tablet-screen {
    padding-top: 3%;
    padding-bottom: 3%; }

  .outer-contianer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .big-container-scene-box {
    padding-top: 5%;
    padding-left: 5%; }

  .living-room-img {
    width: 100%;
    height: 400px; }

  .living-room-status-info {
    margin-top: 12%; }
    .living-room-status-info p {
      font-size: 1rem; }

  .fa-fire, .fa-fan, .fa-autoprefixer, .fa-snowflake {
    font-size: 1.5rem; }

  .no-margin {
    margin-bottom: 0; }

  .lighting-big-container {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .lighting-title {
    padding-top: 5%; }

  .thermostat-big-container {
    width: 60%; }

  .gap {
    padding-top: 2%; } }
@media only screen and (min-width: 1200px) {
  .first-btn-login {
    margin-top: 8%;
    padding-left: 38%; }

  .second-btn-login {
    padding-top: 0;
    padding-right: 11%; }

  .first-btn-signup {
    margin-top: 8%;
    padding-left: 40%; }

  .second-btn-signup {
    padding-top: 0;
    padding-right: 10%; }

  .home-bck-img {
    width: 90%;
    height: 400px; }

  .header-background {
    margin-bottom: 24%; }

  .home-status, .living-room-status {
    top: 79%; }

  .profile {
    padding-top: 30%; }

  .profile-img {
    width: 60%;
    height: 120px; }

  .category-box {
    height: 110px; }

  .category-btn {
    grid-template-columns: 400px 400px 400px; }

  .logout-sign {
    padding-right: 3%;
    padding-top: 1%; }

  .camera-container-text, .room-container-record {
    left: 23%; }

  .camera-text {
    padding-left: 20%; } }
@media only screen and (min-width: 1600px) {
  .home-status, .living-room-status {
    top: 75%; }

  .profile-img {
    max-width: 80%;
    height: 150px; }

  .camera-container-text, .room-container-record {
    left: 30%; }

  .camera-text {
    padding-left: 30%; } }
.fa-spinner {
  color: #EF502D;
  font-size: 2rem; }

.main-btn {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-top: 20%;
  text-align: center;
  color: white;
  width: 50%;
  padding: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  outline: none;
  background-color: #EF502D;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  border-radius: 4%; }

.space {
  padding-left: 10%; }

.second-btn-login {
  text-align: center; }

.second-btn-signup {
  text-align: center; }

.username, .password, .email {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif; }

.name, .password-enter, .email-enter {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%; }

.forgot {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  color: #3BACD9;
  text-decoration: underline; }

.signup-btn {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #3BACD9;
  text-decoration: underline; }

.forgot-password {
  float: right;
  padding-right: 20%; }

.col-1 {
  width: 8.33%;
  float: left; }

.col-2 {
  width: 16.66%;
  float: left; }

.col-3 {
  width: 24.99%;
  float: left; }

.col-4 {
  width: 33.32%;
  float: left; }

.col-5 {
  width: 41.65%;
  float: left; }

.col-6 {
  width: 49.98%;
  float: left; }

.col-7 {
  width: 58.31%;
  float: left; }

.col-8 {
  width: 66.64%;
  float: left; }

.col-9 {
  width: 74.97%;
  float: left; }

.col-10 {
  width: 83.3%;
  float: left; }

.col-11 {
  width: 91.63%;
  float: left; }

.greeting {
  position: absolute;
  text-align: left;
  top: 3%;
  left: 5%;
  z-index: 1;
  padding-left: 3%;
  padding-top: 2%; }
  .greeting h2 {
    padding-left: 2%;
    padding-top: 1%; }

.container {
  position: relative; }

.home-status, .living-room-status {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  margin-left: 5%; }

span img {
  float: left;
  padding: 5%; }

small {
  display: block;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif; }

.profile-para {
  padding-top: 8%; }

.icon-automate, .icon-security, .icon-statistic {
  width: 30%;
  padding-right: 8%; }

.category-box {
  background-color: #EF502D;
  border-radius: 3%;
  margin: 5%;
  padding: 5%;
  width: 60%; }

.logout-sign {
  float: right;
  padding-right: 8%;
  padding-bottom: 2%; }

.fa-sign-out-alt {
  color: #34D293; }

.tab button, .para button {
  border: none;
  background-color: white; }

.tab button:hover, .para button:hover, .tab button:active, .para button:active {
  background-color: #EF502D;
  border-radius: 3px;
  padding: 2%;
  color: white; }

.tab-content {
  height: 390px;
  display: none; }

.fa-plus {
  margin-left: 3%; }

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 10%;
  margin-top: 7%; }

.modal-header {
  background-color: #EF502D;
  height: 50px;
  width: 100%; }
  .modal-header ul {
    padding-top: 30%;
    text-align: center; }
    .modal-header ul p {
      font-size: 1rem; }

.fa-lock, .fa-lock-open {
  font-size: 2rem;
  margin-left: 30%; }

.fa-lock-open {
  color: #34D293; }

.new-color {
  color: white;
  top: 21%; }

.new-line {
  width: 100%;
  margin-left: 0;
  margin-bottom: 10%;
  opacity: 0.3; }

.warning {
  color: red; }

.overview span {
  padding: 5%; }

.today {
  color: #EF502D;
  font-weight: bold; }

.statistic-border {
  margin: 10%;
  margin-bottom: 100px; }

.history-box {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 6%;
  padding-right: 1%; }
  .history-box img {
    max-width: 40px;
    margin-top: -15px; }

.fa-plus-more {
  margin-left: 10%; }

.camera-big-container {
  width: 100%;
  margin: 0; }

.camera-container, .room-container {
  position: relative; }

.camera-container-text, .room-container-record {
  position: absolute;
  z-index: 1;
  top: 13px; }
  .camera-container-text p, .room-container-record p {
    color: #34D293;
    font-weight: bold;
    font-size: 0.7rem;
    font-family: "Lato", sans-serif; }

.living-room-status {
  width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.living-room-status-info {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%; }

.fa-thermometer-half, .fa-tint, .fa-bolt {
  color: white;
  font-size: 0.9rem; }

.living-room-status-info p {
  display: inline;
  color: white;
  padding: 5%;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif; }

.living-room-title {
  margin-top: 8%; }

.all-off-button-group {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%; }

.smaller-title {
  font-size: 1.5rem; }

.control-box {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.box-border {
  border: 2px solid #EF502D;
  padding: 5%;
  box-shadow: 5px 10px 10px #888888;
  border-radius: 3%; }

.last-box {
  margin-bottom: 10%; }

.control-box-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.control-slider {
  padding-top: 3%; }

.fas.fa-lightbulb {
  font-size: 2.5rem;
  color: #ffd700; }

#light-bulb-two {
  font-size: 2.5rem;
  color: #ccc; }

.fas.fa-thermometer-three-quarters {
  font-size: 3rem;
  color: black; }

.left-align {
  float: left; }

.on-off-btn {
  padding-left: 30%; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #34D293; }

input:focus + .slider {
  box-shadow: 0 0 1px #34D293; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.intensity-control-slider {
  padding-top: 5%; }

#green {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px; }

#green .ui-slider-range {
  background: #8ae234; }

#green .ui-slider-handle {
  border-color: #8ae234; }

.mode-control {
  padding-top: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  .mode-control p {
    color: #ccc; }

.cool-mode, .heat-mode, .fan-mode, .auto-mode {
  text-align: center; }

.fa-fire, .fa-fan, .fa-autoprefixer, .fa-snowflake {
  color: #ccc; }

.full-width {
  padding-left: 0;
  margin-top: 30%; }

/*# sourceMappingURL=style.css.map */
