* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

a {
  color: black; }

/* shorthand mixin for image size */
.headerBackground {
  background-color: #EF4924;
  height: 200px;
  margin-bottom: 20%; }

.headerSettingIcon {
  width: 15%;
  height: 15%;
  padding: 3%; }

.headerNotificationIcon {
  width: 12%;
  height: 12%;
  float: right;
  padding: 3%; }

.header {
  background-color: #EF4924;
  margin-bottom: 10%; }

.fa-cog {
  font-size: 2rem;
  color: white; }

.settingNav {
  display: none; }

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .nav ul {
    background-color: #EF4924;
    text-align: center;
    padding: 8%; }
    .nav ul li img {
      width: 30%;
      height: 30%; }
    .nav ul li {
      color: #333;
      font-size: 0.7rem;
      font-family: "Lato", sans-serif;
      padding-bottom: 3%; }

.fa-home, .activeIcon, .fa-wifi, .fa-shield-alt, .fa-chart-bar {
  font-size: 1.5rem;
  color: #333;
  margin: 7%; }

.activeIcon {
  color: white; }

#active {
  color: white; }

h1 {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif; }

h2 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif; }

p {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif; }

.text {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  color: #EF4924;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  width: 50%;
  text-align: center; }

.loadText {
  margin-top: 90%; }

.text h1 {
  font-size: 2.6rem;
  font-family: "Josefin Sans", sans-serif; }

.teReo {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  color: #636262; }

hr {
  width: 20%;
  margin-left: 15%;
  border: 1px solid #EF4924; }

.homeStatus ul {
  padding: 3%; }
  .homeStatus ul li {
    font-size: 0.7rem;
    font-family: "Lato", sans-serif;
    color: white;
    text-align: center;
    padding: 1%; }

.title {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: white; }

.categoryGroup p {
  color: white; }

.logoutSign a {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  color: #34D293;
  font-weight: bold;
  font-size: 1rem; }

.pageTitle {
  font-size: 1.95rem;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 5%;
  padding-left: 10%; }

.tabLinksFont {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  color: black;
  margin-right: 5%; }

.subTitle {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  text-align: center; }

.desc {
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  color: #636262;
  text-align: center;
  padding-bottom: 2%; }

.smallerFontTitle {
  font-size: 2rem; }

.smallerFont {
  font-size: 1rem; }

.overview p {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  text-align: center; }

.history p {
  font-size: "Lato", sans-serif;
  font-family: "Lato", sans-serif; }

.historyTitle {
  font-weight: bold;
  padding-bottom: 10%; }

.backImg {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 560px; }

.logo {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.homeBckImg {
  width: 90%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
  opacity: .9;
  display: flex;
  justify-content: center; }

.profileImg {
  width: 25%;
  height: 25%; }

.profileImgSetting {
  width: 20%;
  height: 20%; }

.graph {
  width: 50%;
  height: 50%; }

.graphCenter {
  display: flex;
  justify-content: center; }

.fa-spinner {
  color: #EF4924;
  font-size: 5rem; }

.mainBtn {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-top: 20%;
  text-align: center;
  color: white;
  width: 50%;
  padding: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  outline: none;
  background-color: #EF4924;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  border-radius: 4%; }

.firstBtnLogin, .firstBtnSignUp {
  margin-top: 15%;
  padding-left: 17%; }

.secondBtnLogin, .secondBtnSignUp {
  text-align: center;
  padding-top: 10%;
  padding-right: 22%; }

.firstBtnSignUp {
  padding-left: 25%; }

.space {
  padding-left: 10%; }

.bigTitle {
  margin-top: 25%;
  font-size: 2.6rem;
  font-family: "Josefin Sans", sans-serif; }

.registrationForm {
  margin-top: 10%;
  margin-left: 10%; }

.userName, .password, .email {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif; }

.name, .passwordEnter, .emailEnter {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%; }

.forgot {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  color: #3BACD9;
  text-decoration: underline; }

.signUpBtn {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #3BACD9;
  text-decoration: underline; }

.forgotPassword {
  float: right;
  padding-right: 20%; }

.col-1 {
  width: 8.33%;
  float: left; }

.col-2 {
  width: 16.66%;
  float: left; }

.col-3 {
  width: 24.99%;
  float: left; }

.col-4 {
  width: 33.32%;
  float: left; }

.col-5 {
  width: 41.65%;
  float: left; }

.col-6 {
  width: 49.98%;
  float: left; }

.col-7 {
  width: 58.31%;
  float: left; }

.col-8 {
  width: 66.64%;
  float: left; }

.col-9 {
  width: 74.97%;
  float: left; }

.col-10 {
  width: 83.3%;
  float: left; }

.col-11 {
  width: 91.63%;
  float: left; }

.greeting {
  position: absolute;
  text-align: left;
  top: 3%;
  left: 5%;
  z-index: 1;
  padding-left: 3%;
  padding-top: 2%; }
  .greeting h2 {
    padding-left: 2%;
    padding-top: 1%; }

.container {
  position: relative; }

.homeStatus {
  position: absolute;
  z-index: 2;
  top: 83%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  margin-left: 5%; }

span img {
  float: left;
  padding: 5%; }

small {
  display: block;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif; }

.profilePara {
  padding-top: 8%; }

.iconAutomate, .iconSecurity, .iconStatistic {
  width: 30%;
  height: 30%;
  padding-right: 8%; }

.fa-sign-out-alt {
  color: #34D293; }

.categoryBox {
  background-color: #EF4924;
  border-radius: 3%;
  margin: 5%;
  padding: 5%;
  width: 60%; }

.categoryBtn {
  margin-top: 10%;
  margin-left: 25%; }

.logoutSign {
  float: right;
  padding-right: 7%;
  padding-top: 5%; }

.roomBorder, .deviceBorder, .securityBorder, .statisticBorder {
  border: 2px solid #EF4924;
  padding: 5%;
  box-shadow: 5px 10px 10px #888888; }
  .roomBorder .center, .deviceBorder .center, .securityBorder .center, .statisticBorder .center {
    display: flex;
    justify-content: center; }
    .roomBorder .center img, .deviceBorder .center img, .securityBorder .center img, .statisticBorder .center img {
      width: 80%;
      height: 50%; }

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 10%;
  margin-top: 7%; }

.roomsGrid {
  margin-bottom: 3%; }

.tab, .para {
  padding-left: 10%; }

.tab button, .para button {
  cursor: pointer; }

.tab button:hover, .para button:hover, .tab button:active, .para button:active {
  background-color: #EF4924;
  border-radius: 3px;
  padding: 2%;
  color: white; }

.tabContent {
  height: 390px;
  display: none; }

#lightBulbIcon, #burglarIcon, #smokeIcon, #thermostatIcon {
  width: 50%;
  height: 50%;
  padding-bottom: 15%;
  padding-top: 10%; }

.fa-plus {
  margin-left: 3%; }

#doorIcon {
  width: 60%;
  height: 60%;
  padding-top: 10%;
  padding-bottom: 10%; }

.overview span {
  padding: 5%; }

.today {
  color: #EF4924;
  font-weight: bold; }

.statisticBorder {
  margin: 10%;
  margin-bottom: 100px; }

.historyBox {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 15px; }
  .historyBox img {
    max-width: 40px;
    margin-top: -15px; }

.fa-chevron-left {
  width: 80%;
  height: 80%; }

/*# sourceMappingURL=style.css.map */
