// style loading spinning icon
.fa-spinner {
	color: $orange;
	font-size: 3rem;
}


// style the button (the common use for whole app)
.mainBtn {
	@include paraStyle($h2fs, $bodyff);
	padding-top: 20%;
	text-align: center;
	color: white;
	width: 50%;
	padding: 0.7rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	outline: none;
	background-color: $orange;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
	border-radius: 4%;
}


.firstBtnLogin {
	margin-top: 15%;
	padding-left: 17%;
}

.secondBtnLogin {
	text-align: center;
	padding-top: 10%;
	padding-right: 22%;
}


.firstBtnSignUp {
	@extend .firstBtnLogin;
	padding-left: 25%;
}

.secondBtnSignUp {
	@extend .secondBtnLogin;
}




// icon on home page category selection
.iconAutomate {
	@include imgSize(30%,30%);
	padding-right: 8%;
}


.iconSecurity {
	@extend .iconAutomate;
}

.iconStatistic {
	@extend .iconAutomate;
}



// logout icon
.fa-sign-out-alt {
	color: $green;
}




// button on home page
.categoryBox {
	background-color: $orange;
	// border: 5px solid $orange;
	border-radius: 3%;
	margin: 5%;
	padding: 5%;
	width: 60%;
}

.categoryBtn {
	margin-top: 10%;
	margin-left: 25%;
}


// logout button
.logoutSign {
	float: right;
	padding-right: 7%;
	padding-top: 5%;
}


// icons on rooms page
.roomBorder img {
	@include imgSize(80%,50%);
}

// icons on device page
.deviceBorder img{
	@include imgSize(50%,50%);
}



