// common h1 and h2 style
h1 {
	@include paraStyle($h1fs, $headerff);
}

h2 {
	@include paraStyle($h2fs, $headerff);
}

p {
	@include paraStyle($bodyfs, $bodyff);
}


// =========== style the text on landing page ===========
.text {
	@include paraStyle($h1fs, $headerff);
	color: $orange;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30%;
	width: 50%;
	text-align: center;
}

.loadText {
	margin-top: 90%;
}



// ==========login page fonts ==========
.text h1 {	
	@include paraStyle($h1fs*2, $headerff);
}

.teReo {
	@include paraStyle($h1fs, $headerff);
	color: $grey;
}

// style hr
hr {
	width: 20%;
	margin-left: 15%;
	border: 1px solid $orange;
}




// ========= style list items (homeStatus display) =======
.homeStatus ul {
	padding: 3%;
	li {
	@include paraStyle(0.7rem, $bodyff);
	color: white;
	text-align: center;
	padding: 1%;
	}
}


// button text on home page
.title {
	@include paraStyle($h2fs, $bodyff);
	font-weight: bold;
	color: white;
}


// button text on TeReo language
.categoryGroup p {
	color: white;
}


// logout text
.logoutSign a {
	@include paraStyle($bodyfs, $bodyff);
	color: $green;
	font-weight: bold;
	font-size: $h2fs;
}


// ========== Automate pages fonts ==========
.pageTitle {
	@include paraStyle($h1fs*1.5, $headerff);
	padding-top: 5%;
	padding-left: 10%;
}

.tabLinksFont {
	@include paraStyle($h1fs, $bodyff);
	color: black;
	margin-right: 5%;
}

.subTitle {
	@include paraStyle($bodyfs, $bodyff);
	text-align: center;
}

.desc {
	@include paraStyle(0.7rem, $bodyff);
	color: $grey;
	text-align: center;
	padding-bottom: 2%;
}

.smallerFontTitle {
	font-size: 2rem;
}

.smallerFont {
	font-size: 1rem;
}


// ========= Statistic page fonts =========
.overview p {
	@include paraStyle($bodyfs, $bodyff);
	text-align: center;
}


.history p {
	@include paraStyle($bodyff, $bodyff);
}

.historyTitle {
	font-weight: bold; 
	padding-bottom: 10%;
}

