// common h1 and h2 style
h1 {
	@include paraStyle($h1fs, $headerff);
}

h2 {
	@include paraStyle($h2fs, $headerff);
}

p {
	@include paraStyle($bodyfs, $bodyff);
}


// style the text on landing page
.text {
	@include paraStyle($h1fs, $headerff);
	color: $orange;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30%;
	width: 50%;
	text-align: center;
}

.loadText {
	margin-top: 90%;
}



// login page text
.text h1 {	
	@include paraStyle($h1fs*2, $headerff);
}

.teReo {
	@include paraStyle($h1fs, $headerff);
	color: $grey;
}

hr {
	width: 20%;
	margin-left: 15%;
	border: 1px solid $orange;
}




// home page - container holding the image and the text
.container {
	position: relative;
}


// home page text
.greeting {
	position: absolute;
	text-align: left;
	top: 3%;
	left: 5%;
	z-index: 1;
	padding-left: 3%;
	padding-top: 2%;
	h2 {
		padding-left: 2%;
		padding-top: 1%;
	}
}



.homeStatus {
	position: absolute;
	z-index: 2;
	top: 80%;
	background-color: $overlayColor;
	width: 90%;
	margin-left: 5%;

	
}

.homeStatus ul {
	padding: 3%;
	li {
	@include paraStyle(0.7rem, $bodyff);
	color: white;
	text-align: center;
	padding: 1%;
	}
}



.title {
	@include paraStyle($h2fs, $bodyff);
	font-weight: bold;
	color: white;
}


.categoryGroup p {
	color: white;
}


.logoutSign a {
	@include paraStyle($bodyfs, $bodyff);
	color: $green;
	font-weight: bold;
	font-size: $h2fs;
}



