// only for homepage
.headerBackground {
	background-color: $orange;
	height: 200px;
	margin-bottom: 20%;
}


// style header icons (setting cog and notification)
.headerSettingIcon {
	@include imgSize (15%, 15%);
	padding: 3%;
}

.headerNotificationIcon {
	@include imgSize(12%, 12%);
	float: right;
	padding: 3%;
}


// all the other pages
.header {
	background-color: $orange;
	margin-bottom: 10%;
}


.fa-cog {
	font-size: 2rem;
	color: white;
}

.settingNav {
	display: none;
}

// bottom navbar
.nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	ul {
		background-color: $orange;
		text-align: center;
		padding: 8%;
			li img {
			@include imgSize (30%,30%);	
			}
			li {
				color: $lightGrey;
				@include paraStyle(0.7rem,$bodyff);
				} //li finished here
	}//ul list finished	here
}//nav finished here

.nav {

}

.fa-home, .fa-wifi, .fa-shield-alt, .fa-chart-bar {
	font-size: 1.5rem;
	color: $lightGrey;
	margin: 7%;
}

.activeIcon {
	@extend .fa-home;
	color: white;
}

#active{
	color: white;
}



