// background images on landing page
.back-img {
	background-image: url("../images/landing.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 560px;
}



// style logo image on landing page
.logo {
	padding-top: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}


// style the image on home page
.home-bck-img {
	@include img-size(90%, 50%);
	margin-right: auto;
	margin-left: auto;
	opacity: .9;
	display: flex;
	justify-content: center;

}

//  adjust image size for profile image of Daneil
.profile-img {
	@include img-size(25%,25%);
}


// adjust image size for graph image on statistic page
.graph {
	@include img-size(200px,180px);
}

.graph-center {
	display: flex;
	justify-content: center;
}


// adjust image size for camera live feed images on Camera page
.camera-img {
	@include img-size(350px,200px);
}


// adjust image size on living room image
.living-room-img {
	@include img-size(100%,230px);
}
