

  // =============== specific for mobile display (iphone 6/7/8) ============
// media query for mobile
@media only screen and (max-width: 600px) {
  // @media only screen and (min-width: 375px) and (max-width: 667px){
    
  .back-img {
    height: 820px;
  }

  .registration-form {
    margin-top: 10%;
    margin-left: 10%;
  }

  //  =============== Login Page =============
	// adjust login button position
	.first-btn-login {
    margin-top: 15%;
		padding-left: 17%;
	}

	// adjust sign up button link position
	.second-btn-login {
    padding-top: 5%;
		padding-right: 20%;
	}


	//  =============== Sign Up Page ===============
	// adjust sign up button position
	.first-btn-signup {
    margin-top: 15%;
		padding-left: 25%;
	}

	// adjust login button link position
	.second-btn-signup {
    padding-top: 10%;
		padding-right: 20%;
	}

    .category-btn{
      margin-left: 22%;
    }

    .home-status {
      top: 83%;
    }
    
    .logout-sign {
      padding-top: 4%;
    }

    .tablet-screen {
      display: none;
    }

    .camera-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1rem;
      text-align: center;
    }

    .camera-container-text{
      left: 5%;
    }

    .camera-text {
      padding-left: 5%;
    }
    
    .header {
      margin-bottom: 10%;
    }
    
    .no-margin {
      margin-bottom: 0;
    }
    
    // add more padding on room page
    .rooms-grid {
      margin-bottom: 3%;
    }

    // adjust tab links padding
    .tab {
      padding-left: 10%;
    }


    .big-title {
        margin-top: 25%;
    }

    // ========================= automate page =========  
    // Style Room page
    .room-border, .device-border, .security-border {
      border: 2px solid $orange;
      padding: 5%;
      box-shadow: $boxShadow;

      .center {
        display: flex;
        justify-content: center;

          img {
            @include img-size(80%,50%);
          } //image finished here
      } // center finished here
    } // style border finished here


    #light-bulb-icon, #thermostat-icon, #burglar-icon, #smoke-icon {
      @include img-size(50%,50%);
      padding-bottom : 15%;
      padding-top: 10%;
    }

    // =============== security page ===================

  

    #door-icon {
      @include img-size(60%,60%);
      padding-top: 10%;
      padding-bottom: 10%;
    }

    // ================= Lighting page =========
    .lighting-title {
      padding-top: 10%;
    }


    // ==================  bottom main navbar ==================
    .nav {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      border: 1px solid #BFBFBF;
      box-shadow: 2px 2px 2px 2px #888888;
      background-color: white;
      ul {
        text-align: center;
        padding: 8%;

          li img {
          @include img-size (30%,30%);
          }

          li {
            color: $lightGrey;
            @include para-style(0.7rem,$bodyff);
            padding-bottom: 3%;
            } //li finished here
      }//ul list finished	here
    }//nav finished here
    
    .modal-title {
      padding-bottom: 20%;
    } 


    .new-color {
      top: 21%;
    }

    // ======= door modal pop-up screen =======
    .full-width {
      padding-left: 0;
      margin-top: 30%;
    }
  

}


@media only screen and (min-width: 420px){
  
	.first-btn-login {
    margin-top: 15%;
		padding-left: 17%;
  }
  
  .first-btn-signup {
    margin-top: 15%;
		padding-left: 25%;
  }
  
  .registration-form {
    margin-top: 10%;
    margin-left: 10%;
  }

  .category-btn{
      padding-top: 8%;
      margin-left: 22%;
    }

    .home-status{
        top: 83%;
      padding-bottom: 1%;
      ul li {
        font-size: 0.8rem;
      }
    }

    .category-box {
      padding: 7%;
    }
   
    .icon-automate, .icon-security, .icon-statistic {
      padding-top: 0;
    }

    .logout-sign {
      padding-top: 4%;
    }

    // ==================  bottom main navbar ==================
  .nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: white;
    ul {
      text-align: center;
      padding: 8%;

        li img {
        @include img-size (30%,30%);
        }

        li {
          color: $lightGrey;
          @include para-style(0.7rem,$bodyff);
          padding-bottom: 3%;
          } //li finished here
    }//ul list finished	here
  }//nav finished here
  
    .camera-container-text{
      left: 12%;
    }

    .camera-text {
      padding-left: 12%;
    }

    .modal-title {
      padding-bottom: 20%;
    }

    .new-color {
      top: 21%;
    }

    // ======= door modal pop-up screen =======
    .full-width {
      padding-left: 0;
      margin-top: 30%;
    }
  
}

@media only screen and (min-width: 500px) {
  .camera-container-text{
    left: 18%;
  }

  .camera-text {
    padding-left: 18%;
  }
}

@media only screen and (min-width: 600px){
  .back-img {
    height: 1000px;
  }  
  
  .my-container {
    padding-top: 15%;
  }

  .greeting h1{
    font-size: $h2fs*1.7;
  }

  .greeting h2 {
    font-size: $h2fs*1.5;
  }
  
  .category-btn{
    padding-top: 15%;
  }

  .home-status ul li {
      font-size: 1rem;
    }
  
  .category-box {
      padding: 15%;
  }

  .profile small {
    font-size: $bodyfs*1.5;
   }
  
  .title {
      @include para-style($h2fs*2, $bodyff);
      
  }
  
  // button text on TeReo language
  .category-group-font p {
      @include para-style($h2fs*1.5, $bodyff);
  }

  // logout icon
  .fa-sign-out-alt{
      font-size: $h2fs*1.5;
  }

  // logout text
  .logout-sign a {
      font-size: $h1fs*1.3;
  }   

  .header {
    margin-bottom: 5%;
  }

  .tab {
    padding-left: 10%;
  }

  // Style Room page
  .room-border, .device-border, .security-border {
    border: 2px solid $orange;
    padding: 5%;
    box-shadow: $boxShadow;

    .center {
      display: flex;
      justify-content: center;

        img {
          @include img-size(50%,40%);
        } //image finished here
    } // center finished here
  } // style border finished here

    // =============== security page ===================

    #light-bulb-icon, #thermostat-icon,  #burglar-icon, #smoke-icon{
      @include img-size(50%,50%);
      padding-bottom : 15%;
      padding-top: 10%;
    }

    #door-icon, #camera-icon {
      @include img-size(60%,60%);
      padding-top: 10%;
      padding-bottom: 10%;
    }

    .camera-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1rem;
      text-align: center;
    }

    .camera-container-text{
      left: 25%;
    }

    .camera-text {
      padding-left: 25%;
    }
    

}

@media only screen and (min-width: 601px) and (max-width: 1023px){
  .tablet-screen {
    display: none;
  }
}

// ===================== tablet display ==================
@media only screen and (min-width: 768px) {
    // ====== loading page ========
    .logo {
      width: 30%;
    }

    .text {
      padding-top: 10%;
    }

    .load-text {
      margin-top: 30%;
    }

    .back-img {
      height: 1080px;
    }

    .fa-spinner {
      font-size: 3rem;
    }


  	//  =============== Login Page =============
    // adjust login button position
    .first-btn-login {
      padding-left: 30%;
    }

    // adjust sign up button link position
    .second-btn-login {
      padding-top: 3%;
      padding-right: 17%;
    }


    //  =============== Sign Up Page ===============
    // adjust sign up button position
    .first-btn-signup {
      padding-left: 30%;
    }

    // adjust login button link position
    .second-btn-signup {
      padding-top: 3%;
      padding-right: 22%;
    }


    // ========== home page ============
 
    .greeting h1{
      font-size: $h2fs*2;
    }

    .greeting h2 {
      font-size: $h2fs*1.7;
    }

    // positioning span
    span img {
      padding: 5%;
    }

    .profile small {
     font-size: $bodyfs*2;
    }


    // adjust padding for profile paragraph
    .profile-para {
      padding-top: 8%;
    }

    .title {
      @include para-style($h2fs*2, $bodyff);
    
    }

    	// button text on TeReo language
    .category-group-font p {
      @include para-style($h2fs*1.5, $bodyff);
    }


    .header-background {
      height: 400px;
    }

    // button on home page
    .category-btn{
      float: left;
      width: 70%;
      margin-top: 0;
      padding-top: 0;
    }

    .category-box {
      background-color: $orange;
      // border: 5px solid $orange;
      border-radius: 3%;
      margin: 5%;
      padding: 5%;
      width: 60%;
      margin-top: 20%;
     
    }

    .home-status{
     // top: 80%;
      padding-top: 1%;
      //padding-bottom: 1%;
      ul li {
        font-size: 1.2rem;
      }
    }



    // logout icon
    .fa-sign-out-alt{
      font-size: $h2fs*2;
    }

     // logout text
    .logout-sign a {
      font-size: $h1fs*1.7;
    }
    

    // Style Room page
    .room-border, .device-border .security-border {
      //padding: 1%;
      .center {
          img {
            @include img-size(50%,40%);
          } //image finished here
      } // center finished here
    } // style border finished here




    // plus icon
    .fa-plus {
      margin-left: 3%;
    }

    .camera-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      //margin-left: 5%;
      padding-top: 2%;
    }

    .camera-container-text{
      left: 10%;
    }


    .modal-content-info p {
      font-size: 1.2rem;
    }

    hr {
      margin-left: 10%;
    }

    .new-color {
      top: 25%;
    }
  // ======= door modal pop-up screen =======
	.full-width {
		padding-left: 0;
		margin-top: 30%;
	}

}




// landscape and bigger screen size
@media only screen and (min-width: 1024px) {
    // ====== loading page ========
    .logo {
      width: 20%;
    }

    .text {
      padding-top: 10%;
    }

    .load-text {
      margin-top: 10%;
    }

    .back-img {
      height: 1200px;
    }

    .fa-spinner {
      font-size: 3rem;
    }


    // ========= login and sign up page ======
    .registration-form {
      margin-top: 5%;
    }

    .my-container{
      padding-top: 10%;
    }

    .big-title {
      margin-top: 0;
    }

    .registration-hr {
      width: 8%;
      margin-left: 13%;
    }

    .first-btn-login {
      margin-top: 8%;
      padding-left: 35%;
    }

    .second-btn-login {
      padding-top: 0;
      padding-right: 14%;
    }


    .first-btn-signup {
        margin-top: 8%;
        padding-left: 40%;
    }

    .second-btn-signup {
      padding-top: 0;
      padding-right: 10%;
    }




    // ========== home page ============
    .header-setting-icon {
      @include img-size(9%, 9%);
      margin-left: 20%;
    }

    .header-notification-icon {
      @include img-size(10%,10%);
    }

    // span img {
    //   padding: 5%;
    // }

    .profile small {
     font-size: $bodyfs*1.7;
    }

    .profile-img {
      @include img-size(70%,40%);
      margin-right: 40%;
    }

    .category-box{
      width: 75%;
    }

    .category-btn {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      height: 120px;
      margin-left: 3%;
      
    }

    .category-group-font p {
      font-size: 1.1rem;
    } 

    .category-group-font .title {
      font-size: 1.6rem;
    }


    .header-background {
      margin-bottom: 35%;
      height: 200px;
    }

    .profile {
      padding-top: 55%;
    }

   
    .main-container {
      display: grid;
      grid-template-columns: 3fr 1fr;

    }

    .greeting h1{
      font-size: 2rem;
    }

    .greeting h2 {
      font-size: 1.5rem;
      margin-top: 3%;
    }

    .home-status ul li {
      font-size: 1.2rem;
      padding: 0;
    }

    .icon-automate, .icon-security, .icon-statistic {
      padding-top: 5%;
    }

    .modal-content {
      height: 400px;
      width: 50%;
    }

    .close-btn-two {
      top: 20%;
      font-size: 2.5rem;
      padding-right: 15%;
    }

    .logout-sign {
      padding-right: 5%;
      padding-top: 3%;
    }

    .fa-sign-out-alt{
        font-size: $h2fs*2;
    }
    
    .logout-sign a {
        font-size: $h1fs*1.5;
    }

    .modal-title {
      padding-bottom: 10%;

        h1 {
        font-size: 2rem;
        }
    }



    // ============ bottom nav ==========
    .nav {
      display: grid;
      grid-template-columns: 800px;
      box-shadow: 2px 2px 2px #888888;
      width: 20%;
      //height: 700px;
      top: 0;
      background-color: white;
      ul {
        padding: 15%;
        li{
          font-size: 0.9rem;
        }
      }
    }

    .fa-home, .fa-wifi, .fa-shield-alt, .fa-chart-bar {
    	font-size: 2.5rem;

    }

    // =========== automate page ========
    .header {
      margin-bottom: 5%;
    }

    .page-title {
      margin-left: 20%;

    }

    hr {
      margin-left: 35%;
      width: 10%;
    }

    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1.5rem;
  		row-gap: 1rem;

    }

    .automate-big-container, .security-big-container {
      width: 55%;
      margin-left: 30%;
      //padding-top: 2%;
    }

    // .para {
    //   padding-bottom: 5%;
    // }

    .nav-hr {
      margin-left: 12%;
      width: 15%;
    }

    .setting-nav-content {
      height: 768px;
    }

    .fa-plus {
      font-size: 1.5rem;
    }

    #light-bulb-icon, #thermostat-icon,  #burglar-icon, #smoke-icon {
      @include img-size(35%,35%);
      padding-bottom : 15%;
      padding-top: 8%;
    }

    #door-icon, #camera-icon {
      @include img-size(40%,40%);
      padding-top: 5%;
      padding-bottom: 8%;
    }

    // ============ security page ========
    .full-width {
      margin-top: 13%;
      padding-left: 0;
    }


    //========== statictic - usage page =========
    .usage-big-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 18%;
    }

    .overview {
      padding-top: 10%;
    }

    .graph-center {
      padding-top: 20%;
    }

    .graph {
      @include img-size(300px,200px);
    }

    // =========== camera page =======
    .camera-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 3%;
      padding-top: 2%;
    }

    .camera-container-text {
      left: 12%;
    }

    .camera-text {
      padding-left: 9%;
    }

    .camera-img {
      @include img-size(400px,200px);
    }

    // =========== living room page ========
    .mobile-screen {
      display: none;
    }

    .tablet-screen {
      padding-top: 3%;
      padding-bottom: 3%;
    }

    .outer-contianer-wrapper {
       display: grid;
       grid-template-columns:  1fr 1fr;

    }

    .big-container-scene-box {
      padding-top: 5%;
      padding-left: 5%;
    }

    .living-room-img {
      @include img-size(100%, 400px);
    }

    .living-room-status-info {
      margin-top: 12%;
      p {
      font-size: 1rem;
      }
    }

    .fa-fire, .fa-fan, .fa-autoprefixer, .fa-snowflake {
    	font-size: 1.5rem;
    }

    .no-margin {
    	margin-bottom: 0;
    }

    // ============= lighting page ==========
    .lighting-big-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .lighting-title {
      padding-top: 5%;
    }

    // =========== thermostat page ==========
    .thermostat-big-container {
      width: 60%;
    }

    .gap {
      padding-top: 2%;
    }

}


@media only screen and (min-width:1200px){
  // ========= login and sign up page ======

    .first-btn-login {
      margin-top: 8%;
      padding-left: 38%;
    }

    .second-btn-login {
      padding-top: 0;
      padding-right: 11%;
    }


    .first-btn-signup {
        margin-top: 8%;
        padding-left: 40%;
    }

    .second-btn-signup {
      padding-top: 0;
      padding-right: 10%;
    }



    .home-bck-img {
      @include img-size(90%, 400px);
    
    }

    .header-background {
      margin-bottom: 24%;
    }

    .home-status {
      top: 79%;
    }

    .profile {
      padding-top: 30%;
    }

    .profile-img {
      @include img-size(60%,120px);
    }

    .category-box {
      height: 110px;
    }

    .category-btn {
      grid-template-columns: 400px 400px 400px;
    }

    .logout-sign {
      padding-right: 3%;
      padding-top: 1%;
    }

    .camera-container-text{
      left: 23%;
    }

    .camera-text {
      padding-left: 20%;
    }

    .close-btn-two {
      top: 23%;
    }

    .modal-title {
      padding-bottom: 10%;
    }

    .modal-content {
      height: 580px;
    }

    .new-color {
      top: 18%;
    }

  }



@media only screen and (min-width: 1600px){
  .home-status {
    top: 75%;
  }

  .profile-img {
    max-width: 80%;
    height: 150px;
  }

  .camera-container-text{
    left: 30%;
  }

  .camera-text {
    padding-left: 30%;
  }

  .new-color {
    top: 20%;
  }


}