// shorthand mixin for image size

@mixin img-size ($w,$h) {
	width: $w;
	height: $h;
}


// shorthand mixin for font size and font family
@mixin para-style ($fs, $ff) {
	font-size: $fs;
	font-family: $ff;
}




// @mixin img-effect ($position, $margin, $overflow) {
// 	position: $position;
// 	margin: $margin;
// 	overflow: $overflow;
// }
