/* shorthand mixin for image size */

@mixin imgSize ($w,$h) {
	width: $w;
	height: $h;
}



@mixin paraStyle ($fs, $ff) {
	font-size: $fs;
	font-family: $ff;
	
}

@mixin imgEffect ($position, $margin, $overflow) {
	position: $position;
	margin: $margin;
	overflow: $overflow;
}
