// style the text on landing page
.text {
	@include paraStyle($h1fs, $headerff);
	color: $orange;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30%;
	width: 50%;
	text-align: center;
}

.loadText {
	margin-top: 90%;
}



// login page text
h1 {
	margin-top: 25%;
	padding-left: 10%;
	@include paraStyle($h1fs*2, $headerff);
}

.teReo {
	@include paraStyle($h1fs, $headerff);
	color: $grey;
}

hr {
	width: 20%;
	margin-left: 15%;
	border: 1px solid $orange;
}



.registrationForm {
	margin-top: 10%;
	margin-left: 10%;	
	// width: 100%;
}

.userName, .password, .email {
	@include paraStyle($h1fs, $bodyff);
}



.name, .passwordEnter, .emailEnter {
	border-bottom: 2px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 80%;

}


.forgot {
	@include paraStyle($bodyfs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.signUpBtn {
	@include paraStyle($h2fs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.forgotPassword {
	float: right;
	padding-right: 20%;
}


// 
.homeStatus {
	position: absolute;
	z-index: 2;
	top: 25%;
	@include paraStyle($bodyfs, $bodyff);
}

