// COLORS
$orange: #EF502D;
$lightOrange: #F2695C;
$darkBlue: #0A3459;
$lightBlue: #3BACD9;
$green: #34D293;
$grey: #636262;
$lightGrey: #333;
$red: #800000;
$yellow: #ffd700;
$overlayColor: rgba(0,0,0,0.4);
$boxShadow: 5px 10px 10px #888888;

// FONTS
$headerff: 'Josefin Sans', sans-serif;
$bodyff: 'Lato', sans-serif;
$h1fs: 1.3rem;
$h2fs: 1rem;
$bodyfs: 0.9rem;




// $orange: #EF4924;
// $orange: #F2695C;
// $orange: #EF502D;
// $orange: #F18050;
// $orange: #ffaf4b;
