// COLORS
$orange: #EF4924;
// $orange: #F18050;
$darkBlue: #0A3459;
$lightBlue: #3BACD9;
$green: #34D293;  
$grey: #636262;
$overlayColor: rgba(0,0,0,0.4);


// FONTS
$headerff: 'Josefin Sans', sans-serif;
$bodyff: 'Lato', sans-serif;
$h1fs: 1.3rem;
$h2fs: 1rem;
$bodyfs: 0.9rem;



