@import 'cssReset';
@import 'variables';
@import 'mixin';
@import 'header-nav';
@import 'fonts';
@import 'images';
@import 'tablet';


// style loading spinning icon
.fa-spinner {
	color: $orange;
	font-size: 5rem;
}

// style the button (the common use for whole app)
.mainBtn {
	@include paraStyle($h2fs, $bodyff);
	padding-top: 20%;
	text-align: center;
	color: white;
	width: 50%;
	padding: 0.7rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	outline: none;
	background-color: $orange;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
	border-radius: 4%;
}

//  =============== Login Page ===============
// adjust login button position
.firstBtnLogin {
	margin-top: 15%;
	padding-left: 17%;
}

// adjust sign up button link position
.secondBtnLogin {
	text-align: center;
	padding-top: 10%;
	padding-right: 22%;
}


//  =============== Sign Up Page ===============
// adjust sign up button position
.firstBtnSignUp {
	@extend .firstBtnLogin;
	padding-left: 25%;
}

// adjust login button link position
.secondBtnSignUp {
	@extend .secondBtnLogin;
}


// adjust padding for login and sign up title, form layout
.space {
	padding-left: 10%;
}

.bigTitle {
	margin-top: 25%;
	@include paraStyle($h1fs*2, $headerff);
}

.registrationForm {
	margin-top: 10%;
	margin-left: 10%;	
	// width: 100%;
}

.userName, .password, .email {
	@include paraStyle($h1fs, $bodyff);
}

.name, .passwordEnter, .emailEnter {
	border-bottom: 2px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 80%;

}


.forgot {
	@include paraStyle($bodyfs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.signUpBtn {
	@include paraStyle($h2fs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.forgotPassword {
	float: right;
	padding-right: 20%;
}




// span {
// 	float: left;
// }

// span .group {
//   display: block;
// }





// ============== Home Page =================

// loop for repeating column layout (used for homeStatus display)
@for $i from 1 to 12 {
	.col-#{$i}{
		width: $i*8.33%;
		float: left;
	}
}


// positioning greeting message on background image
.greeting {
	position: absolute;
	text-align: left;
	top: 3%;
	left: 5%;
	z-index: 1;
	padding-left: 3%;
	padding-top: 2%;
	// greeting finished
	h2 {
		padding-left: 2%;
		padding-top: 1%;
	} 
	// h2 finished
}



// container holding the image and the text
.container {
	position: relative;
}


// positioning and adjust layout on status info on background image
.homeStatus {
	position: absolute;
	z-index: 2;
	top: 83%;
	background-color: $overlayColor;
	width: 90%;
	margin-left: 5%;	
}


// positioning span 
span img {
	float: left;
	padding: 5%;
}

small {
	display: block;
	@include paraStyle($bodyfs, $bodyff);
}


// adjust padding for profile paragraph
.profilePara {
	padding-top: 8%;
}



// icons on home page category selection
.iconAutomate {
	@include imgSize(30%,30%);
	padding-right: 8%;
}


.iconSecurity {
	@extend .iconAutomate;
}

.iconStatistic {
	@extend .iconAutomate;
}



// logout icon
.fa-sign-out-alt {
	color: $green;
}



// button on home page
.categoryBox {
	background-color: $orange;
	// border: 5px solid $orange;
	border-radius: 3%;
	margin: 5%;
	padding: 5%;
	width: 60%;
}

.categoryBtn {
	margin-top: 10%;
	margin-left: 25%;
}


// logout button
.logoutSign {
	float: right;
	padding-right: 7%;
	padding-top: 5%;
}




// =========== Automate Page ============


// Style Room page 
.roomBorder {
	border: 2px solid $orange;
	padding: 5%; 
	box-shadow: $boxShadow;
	 .center {
		display: flex;
		justify-content: center;	
			img {
				@include imgSize(80%,50%);
			} //image finished here
	 } // center finished here	
} // style border finished here


// layout display
.gridWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
	margin: 10%;
}

// add more padding on room page 
.roomsGrid {
	margin-bottom: 3%;
}

// adjust tab links padding
.tab {
	padding-left: 10%;
}

.tab button {
	cursor: pointer;
	
}


.tab button:hover, .tab button:active{
	background-color: $orange;
	border-radius: 3px;
	padding: 2%;
	color: white;
	// box-shadow: $boxShadow;
}

// style the tab content 
.tabContent {
	height: 390px;
	display: none;
}


// adjust paragraph padding
.para {
	@extend .tab;
}


// style Device page 
.deviceBorder {
	@extend .roomBorder;
}

// icons on device page
.deviceBorder img{
	@include imgSize(50%,50%);
}


.fa-plus {
	margin-left: 3%;
}

.fa-thermometer-three-quarters {
	font-size: 5rem;
}


.lightBulb {
	@include imgSize(30%,30%);
}


// =============Security Page ===========

.securityBorder {
	@extend .roomBorder;
}


.burglarIcon {
	@include imgSize(5%,5%);
}

// span {
// 	padding: 5%;
// }

// .row {
// 	overflow: auto;
// }

// .col {
// 	float: left;
// 	width: 50%;
// }