@import 'cssReset';
@import 'variables';
@import 'mixin';
@import 'header-nav';
@import 'fonts';
@import 'images';
@import 'media-query';


// Clarification :

// some icons from fontawesome : which I adjust size by using font-size
// some icons from iconfinder (downloaded png file) : which I adjust size by using @mixin img-size


// style loading spinning icon
.fa-spinner {
	color: $orange;
	font-size: 2rem;
}

// style the button (the common use for whole app)
.main-btn {
	@include para-style($h2fs, $bodyff);
	padding-top: 20%;
	text-align: center;
	color: white;
	width: 50%;
	padding: 0.7rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	outline: none;
	background-color: $orange;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
	border-radius: 4%;
}





// =============== Login & Sign Up Page ===================
// adjust padding for login and sign up title, form layout
.space {
	padding-left: 10%;
}


// adjust sign up button link position
.second-btn-login {
	text-align: center;
}

//  =============== Sign Up Page ===============
// adjust login button link position
.second-btn-signup {
	text-align: center;
}


// style login / sign up form
// .registration-form {
// 	margin-top: 10%;
// 	margin-left: 10%;
// }

.username, .password, .email {
	@include para-style($h1fs, $bodyff);
}

.name, .password-enter, .email-enter {
	border-bottom: 2px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 80%;

}


.forgot {
	@include para-style($bodyfs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.signup-btn {
	@include para-style($h2fs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.forgot-password {
	float: right;
	padding-right: 20%;
}





// ================ Home Page ===================

// loop for repeating column layout
@for $i from 1 to 12 {
	.col-#{$i}{
		width: $i*8.33%;
		float: left;
	}
}


// positioning greeting message on background image
.greeting {
	position: absolute;
	text-align: left;
	top: 3%;
	left: 5%;
	z-index: 1;
	padding-left: 3%;
	padding-top: 2%;

	h2 {
		padding-left: 2%;
		padding-top: 1%;
	}// h2 finished

}// greeting finished



// container holding the image and the text
.container {
	position: relative;
}


// positioning and adjust layout on status info on background image
.home-status {
	position: absolute;
	z-index: 1;
	//top: 83%;
	background-color: $overlayColor;
	width: 90%;
	margin-left: 5%;
}


// positioning span
span img {
	float: left;
	padding: 5%;
}

small {
	display: block;
	@include para-style($bodyfs, $bodyff);
}


// adjust padding for profile paragraph
.profile-para {
	padding-top: 8%;
}



// style icons on home page category selection
.icon-automate {
	width: 30%;
	padding-right: 8%;
}

.icon-security {
	@extend .icon-automate;
}

.icon-statistic {
	@extend .icon-automate;
}



// button on home page
.category-box {
	background-color: $orange;
	// border: 5px solid $orange;
	border-radius: 3%;
	margin: 5%;
	padding: 5%;
	width: 60%;
}

// logout button
.logout-sign {
	float: right;
	padding-right: 8%;
	//padding-top: 4%;
	padding-bottom: 2%;
}

// logout icon
.fa-sign-out-alt {
	//font-size: $h2fs*1.2;
	color: $green;
}





// =================== Automate Page ===============


// // Style Room page
// .room-border {
// 	border: 2px solid $orange;
// 	padding: 5%;
// 	box-shadow: $boxShadow;

// 	 .center {
// 		display: flex;
// 		justify-content: center;

// 			img {
// 				@include img-size(80%,50%);
// 			} //image finished here
// 	 } // center finished here
// } // style border finished here




.tab button {
	border: none;
	background-color: white;

}


.tab button:hover, .tab button:active{
	background-color: $orange;
	border-radius: 3px;
	padding: 2%;
	color: white;
}

// style the tab content
.tab-content {
	height: 390px;
	display: none;
}


// adjust paragraph padding
.para {
	@extend .tab;
}


// style Device page
// .device-border {
// 	@extend .room-border;
// }

// icons on device page
#light-bulb-icon, #thermostat-icon {
	@include img-size(50%,50%);
	padding-bottom : 15%;
	padding-top: 10%;
}


// plus icon
.fa-plus {
	margin-left: 3%;
}

// layout display
.grid-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
	margin: 10%;
	margin-top: 7%;
  }


// ===================== Security Page ===============

// .security-border {
// 	@extend .room-border;
// }


// style icons on security page
#burglar-icon, #smoke-icon {
	@extend #light-bulb-icon;
}


#door-icon {
	@include img-size(60%,60%);
	padding-top: 10%;
	padding-bottom: 10%;
}


.modal-header {
	background-color: $orange;
	height: 50px;
	width: 100%;

	ul {
		padding-top: 30%;
		text-align: center;

		p {
			font-size: 1rem;
		}
	}
}



.fa-lock {
	font-size: 2rem;
	margin-left: 30%;
}

.fa-lock-open {
	@extend .fa-lock;
	color: $green;
}

.new-color {
	color: white;
	top: 21%;
}

.new-line {
	width: 100%;
	margin-left: 0;
	margin-bottom: 10%;
	opacity: 0.3;
}

.warning {
	color: red;
}

// =================== statistic - Usage Page ==============
.overview span {
	padding: 5%;
}

.today {
	color: $orange;
	font-weight: bold;
}

.statistic-border {
	@extend .room-border;
	margin: 10%;
	// width: 300px;
	// height: 350px;
	margin-bottom: 100px;
}


.history-box {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-grow: 1;
	flex-basis: 0;
	margin-bottom: 6%;
	padding-right: 1%;
	img {
		max-width: 40px;
		margin-top: -15px;
	}
}


// ==================== Camera Page ================

.fa-plus-more {
	margin-left: 10%;
}


.camera-container {
	position: relative;
}

.camera-container-text{
	position: absolute;
	z-index: 1;
	top: 13px;
	left: 20px;

	p {
		color: $green;
		font-weight: bold;
		@include para-style(0.7rem,$bodyff);
	}
}




// ================== Livingroom Page =============

.room-container {
	@extend .camera-container;
}

.room-container-record {
	@extend .camera-container-text;

}



.living-room-status {
	@extend .home-status;
	width: 100%;
	// height: 35px;
	margin-left: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}


.living-room-status-info {
	text-align: center;
	padding-top: 7%;
	padding-bottom: 7%;

}

.fa-thermometer-half, .fa-tint, .fa-bolt {
	color: white;
	font-size: $bodyfs;
}

.living-room-status-info p {
	display: inline;
	color: white;
	padding: 5%;
	@include para-style(0.7rem, $bodyff);		
}

.living-room-title {
	margin-top: 8%;
}

.all-off-button-group {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 5%;
}


.smaller-title {
	font-size: 1.5rem;
}

.control-box {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}


.box-border {
	border: 2px solid $orange;
	padding: 5%;
	box-shadow: $boxShadow;
	border-radius: 3%;
}

.last-box {
	margin-bottom: 10%;
}

.control-box-selection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.control-slider {
	padding-top: 3%;
}

.fas.fa-lightbulb{
	font-size: 2.5rem;
	color: $yellow;
}

#light-bulb-two {
	font-size: 2.5rem;
	color: #ccc;
}



.fas.fa-thermometer-three-quarters {
	font-size: 3rem;
	color: black;
}


.left-align {
	float: left;
}


.on-off-btn {
		padding-left: 30%;
}


// style on/off switch buttons
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


// Rounded sliders
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


//  intensity slider
.intensity-control-slider {
	padding-top: 5%;
}

//  style slider intensity colour *** somehow doesn't work??
#green {
	float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}

#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }


// style mode control on thermostat option
.mode-control {
	padding-top: 8%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	p {
		color: #ccc;
	}
}

.cool-mode, .heat-mode, .fan-mode, .auto-mode {
	text-align: center;
}


.fa-fire, .fa-fan, .fa-autoprefixer, .fa-snowflake {
	color: #ccc;
}






	
	// ======= door modal pop-up screen =======
	.full-width {
		padding-left: 0;
		margin-top: 30%;
	}








