@import 'cssReset';
@import 'variables';
@import 'mixin';
@import 'header-nav';
@import 'fonts';
@import 'button-icons';
@import 'images';
@import 'tablet';




// adjust padding for login and sign up title
.space {
	padding-left: 10%;
}

.bigTitle {
	margin-top: 25%;
	@include paraStyle($h1fs*2, $headerff);
}

.registrationForm {
	margin-top: 10%;
	margin-left: 10%;	
	// width: 100%;
}

.userName, .password, .email {
	@include paraStyle($h1fs, $bodyff);
}



.name, .passwordEnter, .emailEnter {
	border-bottom: 2px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 80%;

}


.forgot {
	@include paraStyle($bodyfs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.signUpBtn {
	@include paraStyle($h2fs, $bodyff);
	color: $lightBlue;
	text-decoration: underline;

}


.forgotPassword {
	float: right;
	padding-right: 20%;
}




// span {
// 	float: left;
// }

// span .group {
//   display: block;
// }


// loop for repeating column layout 
@for $i from 1 to 12 {
	.col-#{$i}{
		width: $i*8.33%;
		float: left;
	}
}


span img {
	float: left;
	padding: 5%;
}

small {
	display: block;
	@include paraStyle($bodyfs, $bodyff);
}

.textAlign {
	padding-top: 8%;
}



// Style Room page
.roomBorder {
	border: 2px solid $orange;
	padding: 5%;
}

.gridWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
	margin: 10%;
}


.tab {
	padding-left: 10%;
}

.tab button {
	padding-right: 10%;
}

.info {
	@extend .tab;
}

.center {
	display: flex;
	justify-content: center;
}


// style Device page
.deviceBorder {
	@extend .roomBorder;
}



// .row {
// 	overflow: auto;
// }

// .col {
// 	float: left;
// 	width: 50%;
// }